<app-nav>
    <div class="config-form">
        <mat-form-field>
            <input [(ngModel)]="config.minPersonalPool" matInput placeholder="Min Personal Pool">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="config.minNgoTransfer" matInput placeholder="Min Ngo Transfer">
        </mat-form-field>
        <p>Editing Dates for Client will change data for Partners and Ngo</p>
        <div class="config-container">
            Client
            <mat-form-field>
                <input (dateChange)="onClientDate($event.target.value)" [matDatepicker]="clientCurrent"
                       [value]="config.currentClientPaymentDate"
                       matInput placeholder="ngo">
                <mat-datepicker-toggle [for]="clientCurrent" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #clientCurrent></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input (change)="onClientIntervalChange($event.target.value)" [value]="config.clientCycleDays"
                       matInput min="1" placeholder="interval" type="number">
            </mat-form-field>
            <mat-form-field>
                <input [matDatepicker]="clientNext" [value]="config.nextClientPaymentDate" disabled matInput
                       placeholder="ngo">
                <mat-datepicker-toggle [for]="clientNext" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #clientNext></mat-datepicker>
            </mat-form-field>
        </div>
        <p>Editing Dates for Partner will change data for Ngo</p>
        <div class="config-container">
            Partner
            <mat-form-field>
                <input (dateChange)="onPartnerDate($event.target.value)" [matDatepicker]="partnerCurrent"
                       [value]="config.currentPartnerPaymentDate"
                       matInput
                       placeholder="Value binding">
                <mat-datepicker-toggle [for]="partnerCurrent" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #partnerCurrent></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input (change)="onPartnerIntervalChange($event.target.value)" [value]="config.partnerCycleDays"
                       matInput min="1" placeholder="interval" type="number">
            </mat-form-field>
            <mat-form-field>
                <input [matDatepicker]="partnerNext" [value]="config.nextPartnerPaymentDate" disabled matInput
                       placeholder="Value binding">
                <mat-datepicker-toggle [for]="partnerNext" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #partnerNext></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="config-container">
            Ngo
            <mat-form-field>
                <input (dateChange)="onNgoDate($event.target.value)" [matDatepicker]="ngoCurrent"
                       [value]="config.currentNgoPaymentDate"
                       matInput
                       placeholder="Value binding">
                <mat-datepicker-toggle [for]="ngoCurrent" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #ngoCurrent></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input (change)="onNgoIntervalChange($event.target.value)" [value]="config.ngoCycleDays" matInput
                       min="1" placeholder="interval" type="number">
            </mat-form-field>
            <mat-form-field>
                <input [matDatepicker]="ngoNext" [value]="config.nextNgoPaymentDate" disabled matInput
                       placeholder="Value binding">
                <mat-datepicker-toggle [for]="ngoNext" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #ngoNext></mat-datepicker>
            </mat-form-field>
        </div>

        <button (click)="onUpdate()" *ngIf="config.id">Update</button>
        <button (click)="onSave()" *ngIf="!config.id">Save</button>
    </div>
</app-nav>
