<app-nav>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <button>Filter</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="mat-elevation-z8">
    <table [dataSource]="userDataSource" mat-table>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let element" mat-cell> {{element.ID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="phone">
        <th *matHeaderCellDef mat-header-cell> Numer Telefonu</th>
        <td *matCellDef="let element" mat-cell> {{element.prefix + " " + element.phone}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell> Email</th>
        <td *matCellDef="let element" mat-cell> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="xp">
        <th *matHeaderCellDef mat-header-cell> Xp</th>
        <td *matCellDef="let element" mat-cell> {{element.xp}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" mat-cell> {{element.status}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedAt">
        <th *matHeaderCellDef mat-header-cell> Ostatnia Aktywność</th>
        <td *matCellDef="let element" mat-cell> {{element.updateAt |  date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

</app-nav>
