<app-nav>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'filters.title' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-container">
                <mat-form-field>
                    <input [(ngModel)]="name" matInput placeholder="{{'filters.ngo' | translate}}">
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="type" placeholder="{{'filters.type' | translate}}">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="city" placeholder="{{'filters.city' | translate}}">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="onFilterClick()">{{'filters.button' | translate}}</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table matSort>
            <ng-container matColumnDef="ID">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.id' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.ID}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.name' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.phone' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.email' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="verified">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.verified' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.verified}} </td>
            </ng-container>
            <ng-container matColumnDef="verifiedAt">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.verifiedAt' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.verifiedAt}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.city' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.city}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell>{{'ngo.type' | translate}}</th>
                <td *matCellDef="let element" mat-cell> {{element.type}} </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;" class="trading-point-row"
                mat-row></tr>
        </table>
    </div>
    <button (click)="openDialog()">{{'ngo.import' | translate}}</button>
    <a [href]="excelUrl">{{'ngo.export' | translate}}</a>
    <button (click)="createClick()">{{'ngo.button' | translate}}</button>
</app-nav>
