<app-nav>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filters
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="filter-container">
                <mat-form-field>
                    <input [(ngModel)]="name" matInput placeholder="Input">
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="type" placeholder="Type">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.name">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="city" placeholder="City">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="onFilterClick()">Filter</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <button (click)="openDialog()">Import</button>
    <div class="mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table matSort>
            <mat-text-column name="ID"></mat-text-column>
            <mat-text-column name="name"></mat-text-column>
            <mat-text-column name="phone"></mat-text-column>
            <mat-text-column name="email"></mat-text-column>
            <mat-text-column name="verified"></mat-text-column>
            <mat-text-column name="verifiedAt"></mat-text-column>
            
            <ng-container matColumnDef="city">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> city</th>
                <td *matCellDef="let element" mat-cell> {{element.city.name}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
                <td *matCellDef="let element" mat-cell> {{element.type.name}} </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;" class="trading-point-row"
                mat-row></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</app-nav>
