<app-nav>
    <div *ngIf="userInformation" class="userContainer">
        <div class="userInformation">
            {{'user-view.title' | translate}}
            <div>
                {{'user-view.name' | translate}}: {{userInformation.name}}
            </div>
            <div>
                {{'user-view.phone' | translate}}: +{{userInformation.prefix}}{{userInformation.phone}}
            </div>
            <div>
                {{'user-view.personalPool' | translate}}: {{userInformation.personalPool}}
            </div>
            <div>
                {{'user-view.xp' | translate}}: {{userInformation.xp}}
            </div>
            <div>
                <div>{{'user-view.donationPool' | translate}}: {{userInformation.donationPool}}</div>
                <div>{{'user-view.ngo' | translate}}: {{userInformation.currentNgo}}</div>
                <div>{{'user-view.lastNgo' | translate}}: {{userInformation.lastNgo}}</div>
                <div>{{'user-view.collectedMoney' | translate}}: {{userInformation.collectedMoney}}</div>
                <div>{{'user-view.updatedAt' | translate}} {{userInformation.updateAt |  date:'MM/dd/yyyy'}}</div>
            </div>
        </div>
        <div>
            <p>{{'user-view.edit.title' | translate}}</p>
            <form [formGroup]="editForm">
                <div>
                    <mat-form-field>
                        <input formControlName="phone" matInput placeholder="{{'user-view.edit.phone' | translate}}"
                               type="number">
                    </mat-form-field>
                    <div>
                        <mat-radio-group
                                (change)="onStatusChange($event)"
                                [value]="userInformation.status"
                                aria-labelledby="example-radio-group-label"
                                class="example-radio-group">
                            <mat-radio-button class="example-radio-button"
                                              value="ACTIVE">{{'user-view.edit.active' | translate}}</mat-radio-button>
                            <mat-radio-button class="example-radio-button"
                                              value="BLOCKED">{{'user-view.edit.blocked' | translate}}</mat-radio-button>
                            <mat-radio-button class="example-radio-button"
                                              value="SUSPENDED">{{'user-view.edit.suspended' | translate}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <button (click)="onEditSubmit()">{{'user-view.edit.save' | translate}}</button>
                        <button (click)="onDeleteClick()">{{'user-view.edit.delete' | translate}}</button>
                    </div>
                </div>
            </form>
            <div>
                <p>{{'user-view.transfer.title' | translate}}</p>
                <form [formGroup]="transferForm">
                    <mat-form-field>
                        <input formControlName="targetID" matInput
                               placeholder="{{'user-view.transfer.targetID' | translate}}" type="text">
                    </mat-form-field>
                    <button (click)="onTransferSubmit()">{{'user-view.transfer.button' | translate}}</button>
                </form>
            </div>
        </div>
        <div class="transaction-container">
            {{'user-view.transaction.title' | translate}}
            <table [dataSource]="transactionDataSource" class="transaction-container" mat-table>
                <ng-container matColumnDef="type">
                    <th *matHeaderCellDef mat-header-cell>{{'user-view.transaction.type' | translate}}</th>
                    <td *matCellDef="let element" mat-cell> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th *matHeaderCellDef mat-header-cell>{{'user-view.transaction.price' | translate}}</th>
                    <td *matCellDef="let element" mat-cell> {{element.price | number}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th *matHeaderCellDef mat-header-cell>{{'user-view.transaction.createdAt' | translate}}</th>
                    <td *matCellDef="let element" mat-cell> {{element.createdAt | date}} </td>
                </ng-container>

                <ng-container matColumnDef="xp">
                    <th *matHeaderCellDef mat-header-cell>{{'user-view.transaction.xp' | translate}}</th>
                    <td *matCellDef="let element" mat-cell> {{element.xp | number}} </td>
                </ng-container>

                <tr *matHeaderRowDef="transactionDisplayFields" mat-header-row></tr>
                <tr *matRowDef="let row; columns: transactionDisplayFields;" mat-row></tr>
            </table>
        </div>
    </div>
</app-nav>
