#prefix {
  width: 60px;
  margin-left: 10px;
}

#phoneForm {
  display: flex;
}

#loginContainer {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
