.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.example-container {
  height: 100%;
}
