<mat-sidenav-container hasBackdrop class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="nav-container">
      <p (click)="sidenav.toggle()">TADEUS</p>
      <mat-form-field>
        <mat-select [(value)]="selected" (change)="onLanguageChange()">
          <mat-option value="pl">PL</mat-option>
          <mat-option value="en">ENG</mat-option>
        </mat-select>
      </mat-form-field>
    </nav>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
