<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div class="nav-menu">
            <a routerLink="/user" routerLinkActive="active">{{ 'nav.user' | translate }}</a>
            <a routerLink="/trading-point" routerLinkActive="active">{{ 'nav.trading-point' | translate }}</a>
            <a routerLink="/ngo" routerLinkActive="active">{{ 'nav.ngo' | translate }}</a>
            <a routerLink="/transaction" routerLinkActive="active">{{ 'nav.transaction' | translate }}</a>
            <a routerLink="/configuration" routerLinkActive="active">{{ 'nav.configuration' | translate }}</a>
            <a routerLink="/settlement/trading-point" routerLinkActive="active">Rozliczenia Partnerów</a>
            <a routerLink="/settlement/ngo" routerLinkActive="active">Rozliczenia Beneficjentów</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="nav-container">
            <p>{{ 'login.header-title' | translate }}</p>
        </nav>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
